* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 200%;
  width: 100%;
}

#main {
  padding: 20px 60px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  font-weight: 400;
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.btn {
  display: flex;
  gap: 20px;
}
#btn1 {
  font-size: 15px;
  border-radius: 45px;
  padding: 15px 30px;
  color: #0061fe;
  border: 1px solid #0061fe;
}

#btn2 {
  border-radius: 45px;
  padding: 15px 30px;
  background-color: #0061fe;
  color: white;
  border: none;
}

#section1 {
  display: flex;
  gap: 20px;
  padding-top: 70px;
}

#section1 h1 {
  width: 400px;
  font-size: 50px;
  font-weight: 500;
}

#section1 p {
  font-size: 17px;
  line-height: 25px;
  font-weight: 200;
}

.btn3 {
  padding-top: 30px;
  display: flex;
  gap: 20px;
}

.btn3 button {
  padding: 20px 35px;
  border-radius: 45px;
  font-size: 20px;
}

#btn4 {
  background-color: #0061fe;
  color: white;
  border: none;
}

#btn5 {
  color: #0061fe;
  border: 1px solid #0061fe;
}

#img1 {
  margin-top: 70px;
  border-radius: 50px;
}

.section2 {
  display: flex;
  margin-top: 150px;
  gap: 50px;
}

.section2 div {
  width: 900px;
  text-align: center;
}

.section2 h1 {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}

.section2 p {
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  font-weight: 400;
  color: #b6b6b6;
}

.section3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "btn6 img2"
    "section3_heading img2"
    "section3_para img2";

  gap: 10px;

  margin-top: 130px;
}

.btn6 {
  grid-area: btn6;
  padding: 15px 25px;
  width: fit-content;
  border-radius: 45px;
  border: 1px solid black;
  background-color: white;
}

.img2 {
  grid-area: img2;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.img2:hover{
  cursor: pointer;
  transform: translateY(-10px);

}

.section3_heading {
  margin-top: 120px;
  grid-area: section3_heading;
  font-size: 40px;
  font-weight: 400;
}

.section3_para {
  padding-top: 40px;
  grid-area: section3_para;
  font-size: 17px;
  font-weight: 200;
  line-height: 30px;
}

.section4{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "button button button button"
                      "h1 h1 p p"
                      "img4 img5 img6 img7";
}

.section4 button{
  grid-area: button;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 45px;
  border: 1px solid black;
  background-color: white;
margin-top: 80px;
}

.section4 h1{
  grid-area: h1;
  padding-top: 30px;
  font-size: 44px;
  font-weight: 400;
  margin-top: 0px;
}

.section4 p {
  grid-area: p;
  color: #b6b6b6;
  font-weight: 300;
  margin-top: 80px;
}

.section4 img{
  margin-top: 30px;
  border-radius: 20PX;
  transition: transform 0.3s ease;
}

.section4 img:hover{
  transform: translateY(-10px);
  cursor: pointer;
}
.section4 .img4{
  grid-area: img4;
}

.section4 .img5{
  grid-area: img5;
}

.section4 .img6{
  grid-area: img6;
}

.section4 .img7{
  grid-area: img7;
}

